<mat-card class="container">
  <h1>Editor de Vídeos</h1>

  <!-- Campo para selecionar o vídeo da galeria -->
  <div class="file-input-container">
    <button mat-raised-button (click)="fileInput.click()">Escolher Arquivo</button>
    <input #fileInput type="file" hidden (change)="onFileSelected($event)" accept="video/*">
  </div>

  <!-- Inputs para cortes -->
  <div *ngIf="videoFile" class="cut-section">
    <h2>Cortes</h2>

    <mat-form-field>
      <mat-label>Início</mat-label>
      <input matInput #startInput placeholder="Ex: 00:00:10">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fim</mat-label>
      <input matInput #endInput placeholder="Ex: 00:00:20">
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="addSegment(startInput.value, endInput.value)">
      Adicionar Corte
    </button>

    <!-- Tabela com cortes adicionados -->
    <mat-table [dataSource]="cutSegments" class="mat-elevation-z8">
      <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef> Início </mat-header-cell>
        <mat-cell *matCellDef="let segment"> {{ segment.start }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef> Fim </mat-header-cell>
        <mat-cell *matCellDef="let segment"> {{ segment.end }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>



    <!-- Botão para processar os cortes -->
    <button mat-raised-button color="primary" (click)="processSegments()">
      Processar Cortes
    </button>
  </div>

  <!-- Lista de vídeos cortados -->
  <div *ngIf="outputVideos.length > 0" class="output-section">
    <h2>Vídeos Processados</h2>
    <mat-list>
      <mat-list-item *ngFor="let video of outputVideos; let i = index">
        Vídeo {{ i + 1 }}
        <button mat-mini-fab color="primary" (click)="downloadProcessedVideo(i)">
          <mat-icon>file_download</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>
